<div class="card @CardCss">

    @if (BlogDTO.Cover == null)
    {
        <img class="card-img-top" src="css/Images/blog-cover-template.png">
    }
    else
    {
        <img class="card-img-top" src="data:image/jpeg;base64,@(Convert.ToBase64String(BlogDTO.Cover))">
    }

    <div class="card-body">
        <h2 class="card-title">@BlogDTO.Title</h2>
        <p class="card-text">
            @BlogDTO.ShortDescription
        </p>
        <a href="#" class="btn btn-primary">Read More &rarr;</a>
    </div>

    <div class="card-footer text-muted">
        Posted on
        @BlogDTO.DateCreated.Value.ToString("MMMM")
        @BlogDTO.DateCreated.Value.Month,
        @BlogDTO.DateCreated.Value.Year by
        <a href="#">@(string.IsNullOrWhiteSpace(BlogDTO.CreatedBy) ? "Unknown" : BlogDTO.CreatedBy)</a>
    </div>
</div>

@code {
    [Parameter] public BlogDTO BlogDTO { get; set; }
    [Parameter] public string CardCss { get; set; }
}